@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Lora', serif;
  --font-cursive: 'Cookie', cursive;
}